<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
<!--    <plugins>-->
<!--        &lt;!&ndash; com.github.pagehelper为PageHelper类所在包名 &ndash;&gt;-->
<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor">-->
<!--            &lt;!&ndash; 使用下面的方式配置参数，后面会有所有的参数介绍 &ndash;&gt;-->
<!--            <property name="helperDialect" value="mysql"/>-->
<!--            <property name="reasonable" value="true"/>-->
<!--        </plugin>-->
<!--    </plugins>-->
    <mappers>
        <mapper resource="db/mybatis/mappers/CategoryMapper.xml"/>
        <mapper resource="db/mybatis/mappers/ProductMapper.xml"/>
        <mapper resource="db/mybatis/mappers/ShippingMapper.xml"/>
        <mapper resource="db/mybatis/mappers/UserMapper.xml"/>
        <mapper resource="db/mybatis/mappers/OrderItemMapper.xml"/>
        <mapper resource="db/mybatis/mappers/OrderMapper.xml"/>

        <mapper resource="db/mybatis/mappers/MyUserMapper.xml"/>
        <mapper resource="db/mybatis/mappers/MyCategoryMapper.xml"/>
        <mapper resource="db/mybatis/mappers/MyOrderItemMapper.xml"/>
        <mapper resource="db/mybatis/mappers/MyProductMapper.xml"/>
        <mapper resource="db/mybatis/mappers/MyShippingMapper.xml"/>
        <mapper resource="db/mybatis/mappers/MyOrderMapper.xml"/>
    </mappers>
</configuration>